.carousel {
  height: 10vh;
  width: 20vw;
  display: flex; 
}
.carouselItem {
  width: 100vw;
  height: 36vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.photoBox {
  width: 100vw;
}
.productCarousel {
  width: 400vw;
  min-height: 50vh;
  margin-bottom: 25vh;
  position: relative;
  display: inline-flex;
  display: flex;
  align-items: center;
}
.photo {
  height: 40%;
  width: 60%;
}
.photoCaption {
  width: 70%;text-align: right;
  font-weight: 400;
}
.photoMenuHolder {
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.photoMenu {
  height: 15vh;
  min-height: 15vh;
  border-bottom: 2px solid black;
  width: 100vw;
  overflow-y: hidden;
}
.photoMenuItem {
  height: 15vh;
  font-size: 3em;
  padding-left: 3vw;
  color: black;
}
.photoPullDown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.container {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  position: relative;
  background-color: white;
}
.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.photoBox {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.photoHolder {
  display: flex;
  width: 42vw;
  height: 25vh;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.mainPhoto {
  background-image: url('/canopy2.jpg');
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat !important; 
}
.photoDesc {
  width: 100%;
  text-align: center;
  color: black;
  font-weight:400;
}
/* -------------------NAV BAR------------------- */
.navContainer {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  color: black;
  height: 7vh;
  top: 0;
  z-index: 20;
  margin-right: 4vw;
  padding-right: 1vw;
}
.photoNavContainer {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  width: 101vw;
  rotate: -0.5deg;
  background-color: black;
  height: 5vh;
  top: 6vh;
  z-index: 10;
  padding-left: 1vw;
}
.navItem {
  color: black;
  display: inline-flex;
  padding: 0 10px;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navItem:hover {
  border-bottom: 2px solid black;
}
.photoNavItem {
  color: white;
  font-size: 1em;
  display: inline-flex;
  padding: 0 10px;
  /* font-size: 0.5em; */
}
.photoNavItem:hover {
  font-size: 1.1em;
}
.photoLink {
  color: white;
}
.navItem:hover {
  height: 30;
}
.hamburger {
  animation-duration: .5s;
  rotate: 0deg;
  transition: smooth;
  position: fixed;
}
@keyframes openTurn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.menuContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  left: -100vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: fixed;
  z-index: 10 !important;
  

}
.menuBox {
  height: 100%;
  position: fixed;
  background-color: white;
  opacity: 1;
  color: black;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menuItem {
  width: 100%;
  padding: 2vh 0;
  margin: 0;
  /* text-align: center; */
  font-size: 3em;
}
/* -------------------END OF NAV BAR------------------- */

.main {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  min-height: 100vh;
}
.home {
  height: 94vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.helloTest {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: red;
  font-size: 3em;
  position: absolute;
  top: 10vh;
  z-index: 20;
}
.headerTest {
  color: black;
  display: flex;
  width: 100vw;
  font-size: 3em;
  margin-right: 2vw;
  justify-content: flex-end;
  padding-top: 15vh;
}
.photosSection {
  min-height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.photoModal {
  height: 80vh;
  width: 80vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 50;
  top: 12vh;
}
.modalBackground {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.85;
  background-color: white;
}
.bigPhoto {
  width: 90%;
}
#realEstate {
  margin-top: 0vh;
}

/* CONTACT FORM */
.contactContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contactForm {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 475px;
  background-color: gray;
  color: white !important;
  padding: 7vh;
  margin-bottom: 10vh;
}
.contactFormTitle {
  margin-bottom: 4vh;
}
.contactLabel {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  font-size: 1.2em;
  margin-bottom: 1vh;
  color: white !important;
}
.contactBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.inputLabel {
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 0.25vw;
  width: 100%;
  font-size: 1.2em;
}
.buttonBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4vh 0 0 0;
}
.submitButton {
  color: white;
  background-color: gray;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: center;
}
.submitButton:hover {
  background-color: white;
  color: black;
}
/* -- THANK YOU FORM -- */
.submitTest {
  height: 475px;
  background-color: black;
  color: white;
  width: 350px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.thankYouTest {
  color: white;
  z-index: 20;
  text-align: center;
  font-size: 1.4em;
}
.thankYouExit {
  font-weight: 600;
  width: 90%;
  position: absolute;
  top: 2vh;
  font-size: 1.5em;
}
/* END OF THANK YOU FORM */
/* END OF CONTACT FORM */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .photoModal {
    height: 100vh;
    width: 100vw;
  }
  .bigPhoto {
    width: 100%;
  }
  .modalContainer {
    display: none;
  }
  .photoHolder {
  width: 84vw;
  height: 28vh;
}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
