.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
/* NAV BAR */
.navContainer {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  background-color: white;
  height: 6vh;
  top: 0;
  z-index: 8;
  padding-right: 1vw;
}
.photoNavContainer {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  width: 101vw;
  rotate: -0.5deg;
  background-color: black;
  height: 5vh;
  top: 5vh;
  z-index: 10;
  padding-left: 1vw;
}
.navItem {
  color: white;
  display: inline-flex;
  padding: 0 10px;
  font-size: 0.8em;
}
.navItem:hover {
  border-bottom: 2px solid black;
}
.photoNavItem {
  color: white;
  font-size: 1em;
  display: inline-flex;
  padding: 0 10px;
  /* font-size: 0.5em; */
}
.photoNavItem:hover {
  font-size: 1.1em;
}
.photoLink {
  color: white;
}
.navItem:hover {
  height: 30;
}
/* END OF NAV BAR */

.main {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
}
.home {
  height: 94vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.helloTest {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: red;
  font-size: 3em;
  position: absolute;
  top: 10vh;
  z-index: 20;
}
.headerTest {
  color: black;
  display: flex;
  width: 100vw;
  font-size: 3em;
  margin-right: 2vw;
  justify-content: flex-end;
  padding-top: 15vh;
}
.photo {
  margin: 3vh 10vw;
}
.photosSection {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
#realEstate {
  margin-top: 0vh;
}

/* CONTACT FORM */
.contactForm {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  background-color: black;
  padding: 10vh;
  margin-bottom:10vh
}
.contactLabel {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.contactBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.inputLabel {
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 1vw;
  width: 100%;
}
/* END OF CONTACT FORM */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
